.container{
    width:800px;

}
.blog-left{
    width:80%;
    height:200px;
    background-color: gray;
    float:left;

}

.blog-img{
    width:20%;
    height: 200px;
    background-color: yellow;
    float:left;
}

.blog-profile{
    float:left;
    width:50px;
    display: block;
}

.blog-name{
    float:left;
}

.navbar li{
    display: inline-block;
    text-align: center;
    width:60px;
    background-color: #eee;
    border-radius: 10px;
    padding:10px;

}

.navbar a{
    font-size:20px;
    text-decoration: none;
}