.main-container{
    width:80%;
    max-width: 1000px;
    margin:auto;
    margin-top:50px;
    margin-bottom: 50px;

}
.content{
    float:left;
}

@media screen and (min-width:1200px){
    .content{
        flex-direction: column;
    }
}

@media screen and (min-width:768px){
    .content{
        flex-direction: column;
    }
}

